/* header start */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 80px;
    background: #60d9cc;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.18);
    z-index: 999;
    top: 0;
    left: 0;
    position: sticky;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li {
    list-style: none;
    padding: 0 23px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: aliceblue;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 21%;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 24px;
    bottom: -3px;
}

/* ======================= 2 section =============== */

.hero {
    background-image: url(assets/hero1.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero h4 {
    padding-bottom: 10px;
}

.hero h2 {
    color: blueviolet;
}

.hero button {
    /* background-image: url(assets/buttonBG.jpg); */
    background-color: black;
    color: rgb(209, 245, 233);
    border: 0;
    padding: 13px 57px 14px 53px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    transition: 0.3s;
    border-radius: 10px;
}

.hero button:hover {
    background-color: whitesmoke;
    color: black;
}

/* ================= 3 section ============== */

#benifits {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#benifits .be-Box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.13);
    border: 1px solid black;
    border-radius: 4px;
    margin: 15px 0;
    /* cursor: pointer; */
}

#benifits .be-Box:hover {
    box-shadow: 10px 10px 54px rgba(13, 2, 107, 0.3);
}

#benifits .be-Box img {
    width: 100%;
    margin-top: -21px;
    margin-bottom: 6px;
}

#benifits .be-Box h6 {
    display: inline-block;
    padding: 9px 8px 9px 8px;
    line-height: 1;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    background-color: rgb(3, 70, 72);
}

#benifits .be-Box:nth-child(2) h6 {
    background-color: rgb(33, 56, 146);
}

#benifits .be-Box:nth-child(3) h6 {
    background-color: aqua;
}

#benifits .be-Box:nth-child(4) h6 {
    background-color: brown;
}

#benifits .be-Box:nth-child(5) h6 {
    background-color: burlywood;
}

#benifits .be-Box:nth-child(6) h6 {
    background-color: springgreen;
}

/*================== 4 section ================*/

#product-1 {
    text-align: center;
}

#product-1 .product {
    width: 13%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
    margin: 15px 10px;
    transition: 0.2s ease;
    position: relative;
}

#product-1 .product-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product-1 .product:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.19);
}

#product-1 .product img {
    width: 100%;
    height: 250px;
    border-radius: 20px;
}

#product-1 .product .des {
    text-align: start;
    padding: 10px 0;
}

#product-1 .product .des span {
    color: #222121;
    font-size: 16px;
}

#product-1 .product .des h4 {
    font-size: 14px;
    color: black;
    padding-top: 7px;
}

#product-1 .product .des .star {
    font-size: 12px;
    color: gold;
}

#product-1 .product .des h5 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #13504a;
}

#product-1 .product .cart {
    position: absolute;
    bottom: 20px;
    right: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: chartreuse;
    color: black;
    border: 1px solid rgb(44, 77, 41);
}

/* ================ 5 section ===================*/

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(assets/bannerbg.jpg);
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;
}

#banner h4 {
    color: rgb(0, 0, 0);
}

#banner h2 {
    color: black;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: purple;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s;
}

#banner button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/* ===================== 6 section same ============== */

/* ==================== 7 section ================= */

#sm-banner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* text-align: center; */
    background-image: url(assets/smallbanners/bannersmall1.jpg);
    min-width: 580px;
    height: 50vh;
    background-position: center;
    background-size: cover;
    padding: 30px;
    cursor: pointer;
    margin: 0 40px;
}

#sm-banner .banner-bg-2 {
    background-image: url(assets/smallbanners/bannerman1.jpg);
}

#sm-banner h4 {
    color: rgb(84, 3, 53);
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    color: black;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span {
    color: purple;
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 15px;
}

button.white {
    font-size: 12px;
    font-weight: 600;
    padding: 11px 18px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    /* outline: none; */
    transition: 0.2s;
    /* border-radius: 6px; */
}

/* button.white:hover{
    background-color: black;
    color: white;
} */

#sm-banner .banner-box:hover button {
    background-color: rgb(0, 29, 248);
    border: 1px solid rgb(0, 29, 248);
    ;
}

/* ================ 8 section ====================*/

#banner-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner-3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* text-align: center; */
    background-image: url(assets/smallbanners/bannersmall2.jpg);
    min-width: 30%;
    height: 30vh;
    background-position: center;
    background-size: cover;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

#banner-3 .banner-bg-3 {
    background-image: url(assets/smallbanners/bannersmall1.jpg);
}

#banner-3 .banner-bg-4 {
    background-image: url(assets/smallbanners/bannersmall2.jpg);
}

#banner-3 h2 {
    color: white;
    font-weight: 900;
    font-size: 22px;
}

#banner-3 h3 {
    color: rgb(85, 0, 205);
    font-weight: 800;
    font-size: 15px;
}

/* ==================== 9 section ================ */

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(assets/newsletterbg.jpg);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #60d9cc;
}

#newsletter h4 {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

#newsletter p {
    color: white;
    font-size: 15px;
    font-weight: 600;
}

#newsletter p span {
    color: goldenrod;
}

#newsletter .form {
    width: 40%;
    display: flex;
}

#newsletter input {
    height: 3.1rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgb(15, 152, 237);
    color: black;
    white-space: nowrap;
    /* margin: 0 12px; */
}

#newsletter button:hover{
    background-color: rgb(2, 220, 42);
}
